/* header */
html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	background: white;
	font-family: 'arial';
}

#container {
	min-height: 100%;
	position: relative;
}

#header {
	padding: 25px;
}

h1 {
	color: black;
	text-align: center;
	font-size: 30px;
}

/* body */
#body {
	text-align: center;
	padding: 0 0 50px 0;
}

#download {
	margin: 20px 0 20px 0;
}

h2 {
	color: black;
	font-size: 25px;
} 

a {
	color: blue;
	font-size: 20px;
}

a:hover {
	color: #1a9ab1;
}



/* footer */
h3 {
	color: black;
	margin: 1% 0 0 2%;
	font-size: 20px;
}

#instructions {
	margin: 1% 0 1% 1%;
	font-size: 17px;
	padding: 0 0 20px 20px;
}
