/* header */
html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	background: #f7f1bc;
}

#container {
	min-height: 100%;
	position: relative;
}

#header {
	padding: 25px;
}

h1 {
	color: #1f6416;
	text-align: center;
	font-size: 75px;
}

hr {
	border-top: 3px solid #647e4e;
}




/* connect */
#buttons {
	text-align: center;
}

button {
	border: 2px solid #a4d4ae;
	background-color: #a4d4ae;
	border-radius: 10px;
	padding: 15px 30px;
	margin: 20px 0 20px 10px;
	text-align: center;
	font-size: 14.5px;
	display: inline-block;
	width: 15%;
}

button:hover {
	background-color: #4caf60;
	color: white;
}



/* footer */
h3 {
	color: #647e4e;
	margin: 1% 0 0 2%;
	font-size: 30px;
}

#instructions {
	margin: 1% 0 1% 1%;
	font-size: 17px;
	padding: 0 0 20px 20px;
}
