/* header */
html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	background: #f7f1bc;
}

#container {
	min-height: 100%;
	position: relative;
}

#header {
	padding: 25px;
}

h1 {
	color: #1f6416;
	text-align: center;
	font-size: 75px;
}

hr {
	border-top: 3px solid #647e4e;
}



/* form  */
form {
	text-align: center;
}

label {
	font-size: 35px;
	color: #2a7421;
	font-weight: bold;
}

label+input {
	margin: 2% 30% 1% 25%;
}

input[name='url'] {
	width: 50%;
	height: 30px;
	padding: 5px;
	box-sizing: border-box;
	border-radius: 4px;
}

#playurl {
	font-size: 25px;
	color: #638f30;
	text-align: center;
}

input[type=submit] {
	width: 7%;
	height: 30px;
	background-color: #a4d4ae;
	border: 2px solid #a4d4ae;
	border-radius: 7px;
}

input[type=submit]:hover {
	background-color: #4caf60;
	color: white;
}



/* connect */
button {
	border: 2px solid #a4d4ae;
	background-color: #a4d4ae;
	border-radius: 10px;
	padding: 15px 30px;
	margin: 5% 35% 5% 43%;
	text-align: center;
	font-size: 15px;
	display: inline-block;
	width: 14%;
}

button:hover {
	background-color: #4caf60;
	color: white;
}



/* footer */
h3 {
	color: #647e4e;
	margin: 1% 0 0 2%;
	font-size: 30px;
}

#instructions {
	margin: 1% 0 1% 1%;
	font-size: 17px;
}

#connectac {
	margin: 0 0 3% 1%;
	padding: 0 0 10px 0;
	font-size: 17px;
}