<!doctype html>
<html>
	<head>
		<title>Export Spotify Playlists</title>
		<link rel='stylesheet' href="{{ url_for('static', filename='css/data.css') }}">
		<!-- {{ url_for('static', filename='css/data.css') }} -->
	</head>

	<body>
		<div id="container">
			<div id="header">
				<h1>Export Spotify Playlists</h1>
			</div>
			<hr>
			<div id="body">
				<!-- add h1 header dynamically based on success or failure -->
				<div id="download">
					<h2>File Saved!</h2>
					<a href="{{ url_for('download', filename=filename) }}" download>Download file</a>
				</div>
				<div id="return">
					<a href="{{ url_for('connected') }}">Download another</a>
				</div>
			</div>
			<hr>
			<div id="footer">
				<h3>Instructions</h3>
				<ul id="instructions">
					<li>Login to your Spotify account.
					<li>Enter the playlist owner's username and the playlist link 
						into the form. 
					<li>Select TSV to export the data to .tsv format. 
				</ul>
			</div>
		</div>
	</body>
</html>