<!doctype html>
<html>
	<head>
		<title>Export Spotify Playlists</title>
		<link rel='stylesheet' href="{{ url_for('static', filename='css/home.css') }}"> 
		<!-- {{ url_for('static', filename='css/home.css') }} -->
	</head>
	
	<body>
		<div id="container">
			<div id="header">
				<h1>Export Spotify Playlists</h1>
			</div>
			<hr>
			<div id="body">
				<span class="left">
					<form method="POST" action="/data">
						<label for="playurl">Playlist URL</label>
						<input type="text" name="url" id="playurl" placeholder="Enter url">

						<input type="submit" name="text" value="Text"/>
						<input type="submit" name="csv" value="CSV"/>
					</form>
				</span>
				<span class="right">
					<!-- <button onClick="window.open('http://localhost:5000/login', '_blank', '_top');"> -->
					<button onClick="window.location.href='http://localhost:5000/login';">
						Connect Spotify Account
					</button>
				</span>
			</div>
			<hr>
			<div id="footer">
				<h3>Instructions</h3>
				<ul id="instructions">
					<li>Get the playlist link from Spotify and enter it into the form 
					above. 
					<li>Select Text to export the playlist data to .txt format. 
					<li>Select CSV to export the data to .csv format. 
				</ul>
				<p id="connectac">
					Public playlists can be exported automatically. To export
					a private playlist, sign into your Spotify account before 
					exporting the playlist data. Make sure that the connected 
					account is the owner of the private playlist.
				</p>
			</div>
		</div>
	</body>
</html>