<!doctype html>
<html>
	<head>
		<title>Export Spotify Playlists</title>
		<link rel='stylesheet' href="{{ url_for('static', filename='css/home.css') }}"> 
		<!-- {{ url_for('static', filename='css/home.css') }} -->
	</head>
	
	<body>
		<div id="container">
			<div id="header">
				<h1>Export Spotify Playlists</h1>
			</div>
			<div id="body">
				<div id="buttons">
					<!-- <button onClick="window.open('http://localhost:5000/login', '_blank', '_top');"> -->
					<button onClick="window.location.href='http://localhost:5000/login';">
						Connect to Spotify
					</button>
				</div>
			</div>
			<div id="footer">
				<h3>Instructions</h3>
				<ul id="instructions">
					<li>Login to your Spotify account.
					<li>Enter the playlist owner's username and the playlist link 
						into the form. 
					<li>Select TSV to export the data to .tsv format. 
				</ul>
			</div>
		</div>
	</body>
</html>