<!doctype html>
<html>
	<head>
		<title>Export Spotify Playlists</title>
		<link rel='stylesheet' href="{{ url_for('static', filename='css/home.css') }}"> 
		<!-- {{ url_for('static', filename='css/home_connected.css') }} -->
	</head>
	
	<body>
		<div id="container">
			<div id="header">
				<h1>Export Spotify Playlists</h1>
			</div>
			<div id="body">
				{% for playlist in playlists %}
					<div id="playlist">{{playlist.name}}</div>
					<div id="form">
						<form method="POST" action="/export">
							<div>
								<input type="submit" name="{{playlist.uri}}" value="export" download/>
							</div>
						</form>
					</div>
				{% endfor %}
				<div id="buttons">
					<button id="connected" pointer-events="none">Connected</button>
					<button id="refresh" onClick="window.location.href='http://localhost:5000/refresh';">Refresh Token</button>
				</div>
			</div>
			<div id="footer">
				<h3>Instructions</h3>
				<ul id="instructions">
					<li>Login to your Spotify account.
					<li>Enter the playlist owner's username and the playlist link 
						into the form. 
					<li>Select TSV to export the data to .tsv format. 
				</ul>
			</div>
		</div>
	</body>
</html>